{% extends 'base.html' %}
{% block page %}

<!-- Main container -->
<main>

    <section class="no-border-bottom">
        <div class="container">
            <header class="section-header">
                <span>Search results for</span>
                <h2>Website</h2>
                <p>Showing 1-20 of 158 results</p>
            </header>

            <div class="row">

                <!-- Shot -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="shot shot-small">
                        <div class="shot-preview">
                            <a class="img" href="shot-gallery.html"><img src="/static/img/shot-3.jpg" alt=""></a>
                            <span class="like liked"></span>
                        </div>

                        <div class="shot-info">
                            <a href="user-profile.html"><img src="/static/img/avatar-1.jpg" alt="avatar"></a>
                            <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                            <p>
                                <time datetime="2016-02-04 22:30">20 mins ago</time>
                                in <a href="page-search.html">Website</a></p>
                        </div>
                    </div>
                </div>
                <!-- END Shot -->

                <!-- Shot -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="shot shot-small">
                        <div class="shot-preview">
                            <a class="img" href="shot-gallery.html"><img src="/static/img/shot-4.jpg" alt=""></a>
                            <span class="like liked"></span>
                        </div>

                        <div class="shot-info">
                            <a href="user-profile.html"><img src="/static/img/avatar-2.jpg" alt="avatar"></a>
                            <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                            <p>
                                <time datetime="2016-02-04 22:30">56 mins ago</time>
                                in <a href="page-search.html">App</a></p>
                        </div>
                    </div>
                </div>
                <!-- END Shot -->

                <!-- Shot -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="shot shot-small">
                        <div class="shot-preview">
                            <a class="img" href="shot-gallery.html"><img src="/static/img/shot-7.jpg" alt=""></a>
                            <span class="like"></span>
                        </div>

                        <div class="shot-info">
                            <a href="user-profile.html"><img src="/static/img/avatar-3.jpg" alt="avatar"></a>
                            <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                            <p>
                                <time datetime="2016-02-04 22:30">1 hours ago</time>
                                in <a href="page-search.html">Event</a></p>
                        </div>
                    </div>
                </div>
                <!-- END Shot -->

                <!-- Shot -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="shot shot-small">
                        <div class="shot-preview">
                            <a class="img" href="shot-gallery.html"><img src="/static/img/shot-5.jpg" alt=""></a>
                            <span class="like"></span>
                        </div>

                        <div class="shot-info">
                            <a href="user-profile.html"><img src="/static/img/avatar-4.jpg" alt="avatar"></a>
                            <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                            <p>
                                <time datetime="2016-02-04 22:30">1 hours ago</time>
                                in <a href="page-search.html">App</a></p>
                        </div>
                    </div>
                </div>
                <!-- END Shot -->

                <!-- Shot -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="shot shot-small">
                        <div class="shot-preview">
                            <a class="img" href="shot-gallery.html"><img src="/static/img/shot-8.jpg" alt=""></a>
                            <span class="like liked"></span>
                        </div>

                        <div class="shot-info">
                            <a href="user-profile.html"><img src="/static/img/avatar-5.jpg" alt="avatar"></a>
                            <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                            <p>
                                <time datetime="2016-02-04 22:30">1 hours ago</time>
                                in <a href="page-search.html">Dashboard</a></p>
                        </div>
                    </div>
                </div>
                <!-- END Shot -->

                <!-- Shot -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="shot shot-small">
                        <div class="shot-preview">
                            <a class="img" href="shot-gallery.html"><img src="/static/img/shot-6.jpg" alt=""></a>
                            <span class="like"></span>
                        </div>

                        <div class="shot-info">
                            <a href="user-profile.html"><img src="/static/img/avatar-1.jpg" alt="avatar"></a>
                            <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                            <p>
                                <time datetime="2016-02-04 22:30">2 hours ago</time>
                                in <a href="page-search.html">App</a></p>
                        </div>
                    </div>
                </div>
                <!-- END Shot -->

                <!-- Shot -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="shot shot-small">
                        <div class="shot-preview">
                            <a class="img" href="shot-gallery.html"><img src="/static/img/shot-9.jpg" alt=""></a>
                            <span class="like"></span>
                        </div>

                        <div class="shot-info">
                            <a href="user-profile.html"><img src="/static/img/avatar-3.jpg" alt="avatar"></a>
                            <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                            <p>
                                <time datetime="2016-02-04 22:30">2 hours ago</time>
                                in <a href="page-search.html">User Interface</a></p>
                        </div>
                    </div>
                </div>
                <!-- END Shot -->

                <!-- Shot -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="shot shot-small">
                        <div class="shot-preview">
                            <a class="img" href="shot-gallery.html"><img src="/static/img/shot-1.gif" alt=""></a>
                            <span class="like liked"></span>
                        </div>

                        <div class="shot-info">
                            <a href="user-profile.html"><img src="/static/img/avatar-4.jpg" alt="avatar"></a>
                            <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                            <p>
                                <time datetime="2016-02-04 22:30">3 hours ago</time>
                                in <a href="page-search.html">Animation</a></p>
                        </div>
                    </div>
                </div>
                <!-- END Shot -->

                <!-- Shot -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="shot shot-small">
                        <div class="shot-preview">
                            <a class="img" href="shot-gallery.html"><img src="/static/img/shot-3.jpg" alt=""></a>
                            <span class="like"></span>
                        </div>

                        <div class="shot-info">
                            <a href="user-profile.html"><img src="/staticT/img/avatar-2.jpg" alt="avatar"></a>
                            <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                            <p>
                                <time datetime="2016-02-04 22:30">3 hours ago</time>
                                in <a href="page-search.html">Website</a></p>
                        </div>
                    </div>
                </div>
                <!-- END Shot -->
            </div>

        </div>
    </section>

</main>
<!-- END Main container -->

{% endblock %}