{% extends 'base.html' %}
{% block page %}
    {% load common %}
    {% block settings %}{% endblock %}
    <!-- Main container -->
    <main>

        <section class="no-border-bottom">
            <div class="container">
                <header class="section-header">
                    <span>Search results for</span>
                    <h2>Website</h2>
                    <p>Showing 1-20 of results</p>
                </header>
                <div class="row">

                    <!-- Shot -->
                    {% for user in user_list %}
                        <div class="shot shot-small">
                            <div class="shot-info">
                                <a href="#"><img src="/static/img/avatar-1.jpg" alt="avatar"></a>
                                <h6><a href="#">{{ user.username }}</a></h6>
                                <p>
                                    <a>{{ user.get_full_name }} </a>
                                    <br>
                                    <a href="#">{{ user.location|default:"" }}</a>
                                    <button class="btn btn-sm btn-primary" style="float: right;"><i
                                            class="fa fa-envelope"></i></button>

                                    {% if request.user in user|get_followers %}
                                        <button class="btn btn-sm btn-success follow-btn" data-id="{{ user.id }}" style="float: right;"><i
                                                class="fa fa-user-plus"></i></button>
                                    {% else %}
                                        <button class="btn btn-sm btn-success follow-btn" data-id="{{ user.id }}" style="float: right;"><i
                                                class="fas fa-user-lock"></i></button>
                                    {% endif %}

                                    {#                                        {% if request.user in user|get_followers %}#}
                                    {#                                            <a class="btn btn-success follow-btn" data-id="{{ user.id }}"#}
                                    {#                                            >Unfollow</a>#}
                                    {#                                        {% else %}#}
                                    {#                                            <a class="btn btn-success follow-btn" data-id="{{ user.id }}"#}
                                    {#                                            >Follow</a>#}
                                    {#                                        {% endif %}#}
                                </p>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- END Shot -->
                </div>

            </div>
        </section>

    </main>
    <!-- END Main container -->

{% endblock %}