{% extends 'base.html' %}
{% block page %}
    {#    {% block settings %}{% endblock %}#}

    <section class="no-border-bottom section-sm">
        <div class="container">
            <header class="section-header">
                <span>Settings</span>
                <h3>Security settings</h3>
                <p>Update your password with new one</p>
            </header>

            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h6>Change password</h6>
                        </div>

                        <div class="card-block">
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                {% for email in mail_valid %}
                                    <div class="form-group">
                                        <label for="input1" class="col-sm-4 control-label">{{ email.label }}</label>
                                        <div class="col-sm-6">
                                            {{ email }}                                        </div>
                                    </div>
                                {% endfor %}
                                {% for passw in passw_form %}
                                    <div class="form-group">
                                        <label for="input2" class="col-sm-4 control-label">{{ passw.label }}</label>
                                        <div class="col-sm-6">
                                            {{ passw }}
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-6">
                                        <button class="btn btn-primary btn-sm" type="submit">Save changes</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    </main>
    <!-- END Main container -->

{% endblock %}