{% extends 'base.html' %}
{% block page %}
    {% block  settings %}{% endblock %}

    <!-- Main container -->
    <main>

        <section class="no-border-bottom section-sm">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                        <div class="card">
                            <div class="card-header">
                                <h6>Password recovery</h6>
                            </div>

                            <div class="card-block">
                                <br>
                                <form method="post">
                                    {% csrf_token %}
                                    {% for mail in mail_valid %}
                                        <div class="form-group">
                                            {{ mail }}
                                        </div>
                                    {% endfor %}
                                    {% for passw in passw_form %}
                                        <div class="form-group">
                                            {{ passw }}
                                        </div>
                                    {% endfor %}
                                    <button class="btn btn-primary btn-block" type="submit">Send password</button>
                                </form>
                                <br>
                            </div>

                            <div class="card-footer">
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <a href="{% url 'home' %}">Login</a>
                                    </div>

                                    <div class="col-xs-6">
                                        <a href="{% url 'register' %}">Register</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- END Main container -->
{% endblock %}