{% extends 'base.html' %}
{% load common %}
{% block settings %}
{% endblock %}
{% block page %}
    <!-- Main container -->
    <main>
        {% block profile %}
        {% endblock %}
        <!-- User list -->
        <section class="no-border-bottom section-sm">
            <div class="container">
                <div class="row">
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-1.jpg" alt="avatar"></a>
                            <h5><a href="#">John Doe</a></h5>
                            <p class="lead">Interaction designer</p>
                            <small>327 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-2.jpg" alt="avatar"></a>
                            <h5><a href="#">Jose Shams</a></h5>
                            <p class="lead">Front-end developer</p>
                            <small>135 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-3.jpg" alt="avatar"></a>
                            <h5><a href="#">Mary Armiri</a></h5>
                            <p class="lead">Startup booster</p>
                            <small>62 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-5.jpg" alt="avatar"></a>
                            <h5><a href="#">Dumduri</a></h5>
                            <p class="lead">UI/UX designer</p>
                            <small>659 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-1.jpg" alt="avatar"></a>
                            <h5><a href="#">John Doe</a></h5>
                            <p class="lead">Interaction designer</p>
                            <small>327 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-2.jpg" alt="avatar"></a>
                            <h5><a href="#">Jose Shams</a></h5>
                            <p class="lead">Front-end developer</p>
                            <small>135 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-3.jpg" alt="avatar"></a>
                            <h5><a href="#">Mary Armiri</a></h5>
                            <p class="lead">Startup booster</p>
                            <small>62 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-5.jpg" alt="avatar"></a>
                            <h5><a href="#">Dumduri</a></h5>
                            <p class="lead">UI/UX designer</p>
                            <small>659 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-1.jpg" alt="avatar"></a>
                            <h5><a href="#">John Doe</a></h5>
                            <p class="lead">Interaction designer</p>
                            <small>327 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-2.jpg" alt="avatar"></a>
                            <h5><a href="#">Jose Shams</a></h5>
                            <p class="lead">Front-end developer</p>
                            <small>135 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-3.jpg" alt="avatar"></a>
                            <h5><a href="#">Mary Armiri</a></h5>
                            <p class="lead">Startup booster</p>
                            <small>62 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->
                    <!-- User widget -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="user-widget-mini">
                            <a href="user-profile.html"><img src="/static/img/avatar-5.jpg" alt="avatar"></a>
                            <h5><a href="#">Dumduri</a></h5>
                            <p class="lead">UI/UX designer</p>
                            <small>659 Shot</small>
                        </div>
                    </div>
                    <!-- END User widget -->

                </div>

                <nav class="text-center">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <i class="ti-angle-left"></i>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <i class="ti-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </section>
        <!-- END User list -->

    </main>
    <!-- END Main container -->

{% endblock %}